$dark : #083B66;

@import "../../node_modules/bootstrap/scss/bootstrap";

.dropdown-menu{
    --bs-dropdown-bg: #083b66;
    --bs-dropdown-link-color: #fff;
}

.profile-user-img {
    border: 3px solid #083b66;
    margin: 0 auto;
    padding: 3px;
    width: 100px;
}

.img-circle {
    border-radius: 50%;
}