$dark : #083B66;

@import "../../node_modules/bootstrap/scss/bootstrap";

.dropdown-menu{
    --bs-dropdown-bg: #083b66;
    --bs-dropdown-link-color: #fff;
}

.card-header-smaster {
    background-color: #083b66;
    border-bottom: 1px solid rgba(0,0,0,.125);
    padding: 0.75rem 1.25rem;
    position: relative;
    color: #fff;
    text-align: center;
}

.btn-close-smaster{
    float: right;
    margin-right: -0.625rem;
    box-sizing: content-box;
    width: 1em;
    height: 1em;
    padding: 0.25em 0.25em;
    color: #000;
    background: transparent ;
    border: 0;
    border-radius: 0.375rem;
    opacity: .5;
    
}

.btn-close-smaster.btn-close-white {
    filter: invert(1) grayscale(100%) brightness(200%);
}

a {
    text-decoration: none; /* no underline */
  }